* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;                           
    scroll-behavior: smooth;
}
:root {
    --color1 : rgb(128, 108, 0);
    --color2 : rgb(255, 255, 255);
}
header {
    background-color:#01210b80;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5% 6% .5% 1.5%;
}
.logo {
    text-decoration: none;
    color: var(--color1);
    font-weight: 600;
    font-size: 2em;
}
.logo:hover  {
    color: #FFD700;
}
nav a {
    color: #000000;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
    padding-left: 30px;
}
nav a:hover {
    color: #FFD700;
}
section {
    padding: 2em 5% ;
    background-image:url(./IMG/ezgif.com-gif-maker.jpg) ;
    background-size:cover;
    background-position: center;
    }
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#profil-photo-div {
    width: 40%;
}
#profil-photo {
width: 70%;
}
.main h2 {
    color: rgb(47, 103, 51);
    font-size: 3em;
    font-weight: 500;
}
.main span {
    display: inline-block; /*to cotrole the margin */
    color: var(--color1);
    font-size: 2.5em;
    margin-top: 10px;
    font-weight: 600;
}
.main h3 {
    color: rgb(47, 103, 51);
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.resume {
    color: #FFD700;
    background-color: #416a2e;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 600;
    display: inline-block;
    padding: 1em 3em;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-bottom: 40px;
    transition: .7s;
}
.resume:hover {
    background-color: #6edc3b;
    transform: scale(1.1);
    color: var(--color1);
}

.title {
    text-align: center;
    color: var(--color1);   
    font-size: 4em;
    font-weight: 800;
    margin-bottom:.5em ;
    padding-top: 3%;
}
.fa-bullseye-arrow {
    font-size:4em;
}
.contant {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23em;
    background-color: rgb(184, 201, 187);
    box-shadow: 0 5px 25px rgba(1, 33, 11, .5);
    border-radius: 10px;
    padding-left: 1fr;
    padding-right: 1fr;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 1%;
    transition: .7s;
    max-height: 30em;
    overflow:hidden;
}
.card:hover {
    transform: scale(1.1);
    opacity: 0.8;
    color: var(--color2);
}
/* .card-img img:hover {
    filter: blur(4px);
    transition: .7s;
} */
.card-img img {
    width: 90%;
    height: 20em;
    margin-left:5%;
    border-radius:10px ;
}
/* #orange {
    border-radius: 50%;
} */
.small img{
    height: 15em;
}
.info p, .info div {
    text-align: center;
    color: var(--color1);
    font-size: 1.2em;
}
.info h3 {
    color: var(--color1);
    font-size: 1.8em;
    font-weight: 700;
    margin: 5%;
    text-align: center;
}
.date {
    display: flex;
    justify-content: space-between;
    color: #363322;
}
.date-just {
    justify-content: space-evenly;
}
.show-more {
    text-decoration: none;
    color: #80794f;
    letter-spacing: 2px;
    border-radius: 5px;
    padding: 2%;
}
.show-more:hover {
    background-color: #416a2e;
    color: white;
    transition: .5s;
}
.edu-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(184, 201, 187);
    border: 1px solid rgb(168, 212, 154);
    min-height: 25em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    transition: 0.7s;
    box-shadow: 0 5px 25px rgba(1, 33, 11, .5);
}
.edu-card:hover {
    transform:scale(1.1);
    opacity: 0.8;
}
.edu-img img{
    width: 70%;
    margin: 10px;
    margin-left: 15%;
}
.footer {
    background-color: rgba(1, 33, 11, 0.61);
    color: gold;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center ;  
    justify-content:space-between; 
    padding-right: 3em;
    padding-left: 3em;
}
.footer-title {
    font-size: 1.3em;
    font-weight: 400;
}
.footer-title span {
    color: gold;
    text-align: center;
}
.fa-brands , .fa-phone , .fa-envelope{
    font-size: 1.8em;
    color: rgb(222, 222, 222);
    padding-left: 1em;
    transition: 1s;
}
i:hover {
    transform: scale(1.5);
}
#experience {
    margin-bottom: 20px;
}
.orange-img {
    margin-top: 20%;
}



@media (max-width:1023px) {
    header {
        padding: 12px 20px;
    }
    .navigation a {
        padding-left: 10px;
    }
    .title {
        font-size: 3em;

    }
    section {
        padding: 80px 20px;
    }
    .main-contant h2{
        font-size: 1em;
    }
    .main-contant h3 {
        font-size: 1.5em;
    }
    .contant {
        flex-direction: column;
        align-items: center;
        row-gap: 2em;
    }
    .main {
        padding-right: 0px;
        margin-right: 2px;
    }
    #profil-photo-div {
        width: 50%;
    }
    #profil-photo {
    width: 90%;
    height: 30%;
    }

    
}
@media (max-width:641px) {
    body {
        font-size: 12px;
    }
    .main-contant h2 {
        font-size: 0.8em;
    }
    .main-contant h3 {
        font-size: 1.4em;
    }
    .main {
        flex-direction: column-reverse;
    }
    #profil-photo-div {
        width: 80%;
    }
    #profil-photo {
    width: 90%;
    height: 30%;
    } 
}
@media (max-width:300px){
    body {
        font-size: 10px;
    }
}